POSTGRES_DB=warotrans
POSTGRES_USER=warotrans
POSTGRES_PASSWORD=warotrans
POSTGRES_PORT=5433

MONGO_ROOT_USERNAME=warotrans
MONGO_ROOT_PASSWORD=warotrans
MONGO_DATABASE=warotrans_operations
MONGO_PORT=27018

MQTT_PORT=1883
MQTT_WS_PORT=9001
